*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

.flex{
    display: flex;
}

nav,.nav-big{
width: 80px;
height: calc(100vh - 125px);
background-color: black;
color: white;
flex-direction: column;
text-align: center;
justify-content: space-between;
padding: 1rem 0;
}

.icons{
    flex-direction: column;
    gap: 15px;
}

.user{
    flex-direction: column;
    gap: 30px;
}

.nav-big{
    display: none;
}

main section{
    width: calc(100vw - 80px);
    height: calc(100vh - 125px);
    background-color: darkblue;
}

footer{
    height: 125px;
    background-color:gray;
}

/*responsive S*/
@media screen  and (min-width:420px) {
    nav{
        width:300px ;
        padding:1.5rem ;
    }
    
    .icons,.user{
        display: none;
    }
     .nav-big{
        display: flex;
        flex-direction: column;
        text-align: start;
        width:300px ;
     }

     .playlist .crea-play{
        display: inline-block;
     }
}

/*responsive md*/
@media screen  and (min-width:720px) {
    
}
/*responsive lg*/
@media screen  and (min-width:1020px) {
   
}