*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
}


nav,.nav-big{
width: 80px;
height: calc(100vh - 100px);
background-color: black;
color: white;
flex-direction: column;
text-align: center;
justify-content: space-between;
}

.icons{
    flex-direction: column;
    gap: 15px;
}

.user{
    flex-direction: column;
    gap: 30px;
}

.nav-big{
    display: none;
}

.sezione-dischi{
    width: calc(100vw - 80px);
    height: calc(100vh - 100px);
    background-color: rgb(25, 25, 67);
    color: white;
    overflow: auto;
}

.main-testa{
    justify-content: flex-end;
    background-color: rgb(16, 16, 43);
    padding: 2rem 0.3rem;
}

.cta-button{
    width: 200px;
    border:1px solid white;
    border-radius: 25px;
    background-color:rgb(16, 16, 43);
    color: white;
    padding: 1rem;
    position: relative;
}

.cta-button:hover{
    width:220px ;
}

.menu{
   flex-wrap: wrap;
   justify-content: center;
   line-height: 3rem;
   padding: 0 2rem;
   
}

.gray{
    color: rgb(165, 165, 165);
}

.gray:hover{
    color: white;
}
    

.menu p{
    margin-right: 1.5rem;
}

.album{
padding: 0.5rem;
}

.rec-container{
    flex-wrap: wrap;
}

.disc{
    width: calc(94%/2);
    margin: 1%;
    position: relative;
    text-align: center;
    line-height: 1.5rem;
}

.img{
    position: relative;
}

.play-btn{
    display: none;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.disc:hover .play-btn{
    display: block;
}

.round-img{
    width: 100% ;
    height:100% ;
    border-radius: 50%;
    object-fit: cover;
}

.disc img{
    max-width: 100%;

}

footer{
    height: 100px;
    width: 100%;
    background-color:rgb(86, 85, 85);
    padding: 0.5rem;
    color: white;
    justify-content: space-between;
    align-items: center;

}

.foot-box{
    align-items: center;
    width: calc(90%/3);
    padding: 0.2rem;
}

footer img{
    max-width: 30px;
}

.play{
    text-align: center;
}

.play-container{
    width: 100%;
}

.barra-musica{
    align-items: center;
}

.tempo{
    width: 100%;
    height: 5px;
    background-color:grey;
    margin: 0 0.5rem;
}

.volume{
    gap:0.2em;
}

/*responsive S*/
@media screen  and (min-width:576px) {
    nav{
        width:300px ;
        
    }
    
    .icons,.user{
        display: none;
    }
     
    .nav-big{
        display: flex;
        flex-direction: column;
        text-align: start;
        width:300px ;
        padding:0 1.5rem ;
     }

     .icons-big{
        margin-top: 1rem;
        line-height: 2rem;
     }

.spotify,.playlist{
    margin: 1.5rem 0;
}

     .icon{
        margin: 0.5rem 0;
     }

     .icon p{
        margin-left: 10px;
     }

     .playlist .crea-play{
        display: inline-block;
     }

     .user-big div{
        margin: 0.5rem 0;
     }
}

/*responsive md*/
@media screen  and (min-width:768px) {
    .disc{
        width: calc(92%/4);
    }
}
/*responsive lg*/
@media screen  and (min-width:1200px) {
    .disc{
        width: calc(88%/6);
    }
}