*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

.flex{
    display: flex;
}

nav,.nav-big{
width: 80px;
height: calc(100vh - 100px);
background-color: black;
color: white;
flex-direction: column;
text-align: center;
justify-content: space-between;
}

.icons{
    flex-direction: column;
    gap: 15px;
}

.user{
    flex-direction: column;
    gap: 30px;
}

.nav-big{
    display: none;
}

main section{
    width: calc(100vw - 80px);
    height: calc(100vh - 100px);
    background-color: darkblue;
    color: white;
}

.main-testa{
    justify-content: flex-end;
    background-color: rgb(25, 25, 67);
    padding: 2rem 0.3rem;
}

.main-testa button{
    border:1px solid white;
    border-radius: 25px;
    background-color:rgb(25, 25, 67);
    color: white;
    padding: 1rem;
}

footer{
    height: 100px;
    background-color:gray;
    position: fixed;
}

/*responsive S*/
@media screen  and (min-width:420px) {
    nav{
        width:300px ;
        
    }
    
    .icons,.user{
        display: none;
    }
     
    .nav-big{
        display: flex;
        flex-direction: column;
        text-align: start;
        width:300px ;
        padding:0 1.5rem ;
     }

     .icons-big{
        margin-top: 1rem;
        line-height: 2rem;
     }

.spotify,.playlist{
    margin: 1.5rem 0;
}

     .icon{
        margin: 0.5rem 0;
     }

     .icon p{
        margin-left: 10px;
     }

     .playlist .crea-play{
        display: inline-block;
     }

     .user-big div{
        margin: 0.5rem 0;
     }
}

/*responsive md*/
@media screen  and (min-width:720px) {
    
}
/*responsive lg*/
@media screen  and (min-width:1020px) {
   
}